style.
    .paddedtd {
      padding:10px 0;
    }
    .paddedtable {
      border-collapse: separate;
      border-spacing: 10px 0;
    }
.container-fluid
  .row
    .col-sm-5
      .well
        h2
          span
          |  John Smith
        form
          h3
            | General
          a
            | Change password
          h3
            | Event Timeline
          p
            | Time Scale:
            input(type="radio", value="linear", name="timeScale", checked="checked")
            | Linear
            input(type="radio", value="logarithmic", name="timeScale")
            | Logarithmic
          h3
            | Historical Trend
          p
            | Initial Timeframe:
          select
            option(value="6") 6 month
            option(value="12") 12 month
            option(value="18") 18 month
          h3
            | Problem List
          table
            tr
              td
                input(type='checkbox', name='setting1')
              td
                | Active Problems
              td
                input(type='checkbox', name='setting2')
              td
                | Allergies
            tr
              td
                input(type='checkbox', name='setting3')
              td
                | Inactive Problems
              td
                input(type='checkbox', name='setting3')
              td
                | Activities Due
          h3
            | Findings List
          table
            tr
              td
                input(type='checkbox', name='setting1', (change)='addSetting($event.target.checked,"185903001")')
              td
                | Setting 1 [185903001]
              td
                input(type='checkbox', name='setting2', (change)='addSetting($event.target.checked,"235595009")')
              td
                | Setting 2 [235595009]
            tr
              td
                input(type='checkbox', name='setting3', (change)='addSetting($event.target.checked,"310249008")')
              td
                | Setting 3 [310249008]
              td
                input(type='checkbox', name='setting3', (change)='addSetting($event.target.checked,"310249008")')
              td
                | Setting 4 [310249008]
              
          button.btn.btn-default((click)='saveSettings()') Save

    .col-sm-9
        a#api_page_link.btn.btn-small.btn-default(style='margin-bottom: 19px; margin-left: 5px;', routerLink='', routerLinkActive='active')
              span.glyphicon.glyphicon-transfer
              |  Patient Page
  calendar
