section(style='z-index: 1201;')

	h2
		| Conditions
		loupe-example
	div.btn-group
		button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
			| Tools
			span.caret
		ul.dropdown-menu
			li
				a((click)='sortCondition("date-asc")')
					span.glyphicon.glyphicon-sort-by-alphabet(aria-hidden="true")
			li
				a((click)='sortCondition("date-desc")')
					span.glyphicon.glyphicon-sort-by-alphabet-alt(aria-hidden="true")
		button.btn.btn-default((click)='updateScratchPad()') 
			| Update ScratchPad

		button.btn.btn-default((click)='autoCheck(0, 2)')
			| Select

	p.telt("*ngIf"='conditions.length == 0')
		i (none)

	div("*ngIf"='conditions.length > 0', id="tableParentEle") {{hideInactive()}}
		button.btn.btn-default((click)='tableNavigation(conditionGrouping.indexOf(c))', "*ngFor"='let c of conditionGrouping') {{conditionGroupingName[conditionGrouping.indexOf(c)]}}
		//- {cSub['code']['coding'][0]['code']
		button.btn.btn-default((click)='newTable("testing", ["code", "coding", 0, "code"], "55822004", conditionGrouping.length)')
		table.table.table-condensed.table-striped(id='cG{{conditionGrouping.indexOf(c)}}', "*ngFor"='let c of conditionGrouping')
			thead
				tr
					th
					th
						| Description
					
						| Status
					th
						| Onset
					th 
			tbody
				tr("*ngFor"='let cSub of c', [class.selected]='cSub.selected', (click)='selectCondition(cSub)',id='t{{conditions.indexOf(cSub)}}')
					ng-container("*ngIf"="cSub.isVisible")
						td 
							//- 											
							input("*ngIf"="!cSub.isParent",type='checkbox',id='c{{conditions.indexOf(cSub)}}', value='{{conditions.indexOf(cSub)}}', (change)='scratchPadCheckBoxes($event.target.checked, $event.target.getAttribute("value"))')
						td
							button.btn.btn-default("*ngIf"="cSub.isParent", (click)='expand(cSub.parent)') ... 
							span("*ngIf"="!cSub.isParent") {{cSub['code']['text']}} {{cSub['code']['coding'][0]['code']}}
						td("*ngIf"="!cSub.isParent") {{cSub.clinicalStatus}}
						td("*ngIf"="!cSub.isParent") {{cSub.relativeDateTime}}
						td
							button.btn.btn-default(data-toggle="modal", [attr.data-target]="'#editFieldc' + conditions.indexOf(cSub)")
							
							.modal.fade(id="editFieldc{{conditions.indexOf(cSub)}}",role='dialog')
								.modal-dialog(role='document')
									.modal-content
										.modal-header
											button.close(type='button', data-dismiss='modal', aria-label='Close')
												span(aria-hidden='true') ×
										.modal-body
											p
												input(type='text', name="textInputForEdit", [(ngModel)]='textInputForEdit')
											button.btn.btn-default((click)="updateEntry(conditionService.conditions.indexOf(cSub), \"['code']['coding'][0]['code']\")")

											p
												b Code System:
												a(href='{{cSub.code.coding[0].system}}') {{cSub.code.coding[0].system}}
											p
												b Code:
												|  {{cSub.code.coding[0].code}}
										.modal-footer
											button.btn.btn-default(type='button', data-dismiss='modal') Close	

	//- click)="updateEntry(conditionService.conditions.indexOf(cSub), \"TESTING\", \"['code']['coding'][0]['code']\")") ET


	//- div("*ngFor"='let c of conditionGrouping')
			//- button.btn.btn-default(data-toggle="collapse", [attr.data-target]="'#cG'+conditionGrouping.indexOf(c)", aria-expanded="false", [attr.aria-controls]="'cG'+conditionGrouping.indexOf(c)")
			//- 	| {{conditionGroupingName[conditionGrouping.indexOf(c)]}}
			//- div.collapse(id='cG{{conditionGrouping.indexOf(c)}}')

	div
		button.btn.btn-default((click)='testingCsiro()') CSIRO
