section("*ngIf"='patient')
    table
        th(style="padding: 15px;")
            h2
                | Conditions
        th(style="text-align: right; padding: 15px;")
            loupe-example
    <!-- Single button -->
    div.btn-group
      button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        | Tools
        span.caret
      ul.dropdown-menu
        li
          a(href="#!", (click)='sortCondition("date-asc")')
            span.glyphicon.glyphicon-sort-by-alphabet(aria-hidden="true")

        li
          a(href="#!", (click)='sortCondition("date-desc")')
            span.glyphicon.glyphicon-sort-by-alphabet-alt(aria-hidden="true")
      button.btn.btn-default((click)='toggleExpansion()') Toggle Expansion
      button.btn.btn-default((click)='collapse()') Collapse

    p.telt("*ngIf"='conditions.length == 0')
        i (none)
    table.table.table-condensed.table-striped("*ngIf"='conditions.length > 0')
        colgroup
            col(style='width:10%')
            col(style='width:50%')
            col(style='width:15%')
            col(style='width:25%')
        thead
            tr
                th
                th
                    | Description
                th
                    | Status
                th
                    | Onset
        tbody(id='test')
            tr("*ngFor"='let c of conditions', [class.selected]='c.selected', (click)='selectCondition(c)',id='t{{conditions.indexOf(c)}}')
                ng-container("*ngIf"="c.isVisible")
                    td
                        input("*ngIf"="!c.isParent",type='checkbox',id='{{conditions.indexOf(c)}}', value='{{c["code"]["text"]}}', (change)='addCollapse($event.target.checked,$event.target.getAttribute("id"))')

                    td
                        button.btn.btn-default("*ngIf"="c.isParent",style="width: 100%", (click)='expand(c.parent)') ...
                        span("*ngIf"="!c.isParent") {{c['code']['text']}} {{c['code']['coding'][0]['code']}}
                    td("*ngIf"="!c.isParent") {{c.clinicalStatus}}
                    td("*ngIf"="!c.isParent") {{c.onsetDateTime | amTimeAgo}}
            tr("*ngIf"="!viewToggle", style="width: 100%")
                td
                    | 
                td
                    button.btn.btn-default(style="width: 100%", (click)='ellipsesToggle()') ...
                td
                    | 
                td
                    | 
            
div
    button.btn.btn-default((click)='testingCsiro()') CSIRO
