div(style="float: left; width: 350px")
    div
        h4 
            | Dashboard
            button.btn.btn-default(routerLink='/') Back
        div(style="overflow-y:auto; height:650px")
            div.panel.panel-default
                div.panel-heading
                    h4.panel-title
                        a(data-toggle="collapse", href="#c", (click)="menu.show(null, $event)")
                            | Conditions
                div.container(id="c", style="width:auto")
                    div.panel-group
                        div.panel.panel-default
                            conditionsChart([patient]='patient')
            div.panel.panel-default
                div.panel-heading
                    h4.panel-title
                        a(data-toggle="collapse" href="#o")
                            | Findings List
                div.container(id="o", style="width:auto")
                    div.panel-group(id="obs")
                        div.panel.panel-default("*ngIf"='this.observationService.categorizedObservations')
                            observationRecursionChart([obs]="this.observationService.categorizedObservations.categories",[level]=0)
            div.panel.panel-default
                div.panel-heading
                    h4.panel-title
                        a(data-toggle="collapse" href="#cp")
                            | Care Plans
                div.container(id="cp", style="width:auto")
                    div.panel-group
                        div.panel.panel-default
                            carePlanChart([patient]='patient', *ngIf='passThrough')
                              
div(style="float:left; padding-left: 50px")
    div.btn-group(style="height: 50px; padding-top: 10px; padding-bottom: 10px")
        button.btn.btn-default((click)='resetMinDate()' style="width: 75px")
            | All
        button.btn.btn-default((click)='setMinYearsAgo(25)' style="width: 75px")
            | 25 Years
        button.btn.btn-default((click)='setMinYearsAgo(10)' style="width: 75px")
            | 10 Years
        button.btn.btn-default((click)='setMinYearsAgo(5)' style="width: 75px")
            | 5 Years
        button.btn.btn-default((click)='setMinYearsAgo(2)' style="width: 75px")
            | 2 Years
        button.btn.btn-default((click)='setMinYearsAgo(1)' style="width: 75px")
            | 1 Year
        button.btn.btn-default((click)='setMinMonthsAgo(6)' style="width: 75px")
            | 6 Months
        button.btn.btn-default((click)='setMinMonthsAgo(3)' style="width: 75px")
            | 3 Months
        button.btn.btn-default((click)='setMinMonthsAgo(1)' style="width: 75px")
            | 1 Month
        button.btn.btn-default(data-toggle="modal", [attr.data-target]="'#specify_popup'", style="width: 75px") 
            | Specify
    
    div("*ngFor" = "let chart of this.trendsService.charts; let i = index")
      ngx-charts-line-chart(
          [view]="chartSize",
          [results]="chart.lineChartData",
          [xAxis]="i == this.trendsService.charts.length - 1",
          [yAxis]="true",
          [showXAxisLabel]="false",
          [showYAxisLabel]="true",
          [xAxisLabel]="'Date'",
          [yAxisLabel]="chart.title",
          [xScaleMin]="minDate",
          [xScaleMax]="maxDate",
          [yScaleMin]="chart.yScaleMin",
          [yScaleMax]="chart.yScaleMax",
          [referenceLines]="chart.normalValues",
          [showRefLines]="true",
          [showGridLines]="false",
          (select)="onDataPointSelect($event)")

contextMenu(#menu='')

div(style="clear: both")

#specify_popup.modal.fade(tabindex='-1', role='dialog')
    .modal-lg.modal-dialog(role='document')
        .modal-lg.modal-content(style="width: 450px; height: 125px;")
            .modal-lg.modal-header(style='width: 450px')
                | Specify start and end dates
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-lg.modal-body(style="width: 445px; background-color:white")
                form(#form="ngForm", (ngSubmit)="setDateRange(form.value)")
                    input(id="minDate", type='date', name='minDate', ngModel='')
                    input(id="maxDate", type='date', name='maxDate', ngModel='')
                    button(type='submit') Submit
