<<<<<<< HEAD
style.
    .flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: white;
    border-bottom: grey;
    }
    .flex-item {
    background-color: white;
    height: 100px;
    margin: 10px;
    margin-bottom: 0px;
    }
    .patientInfoBox {
    display: inline-block;
    width: 20%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    }
    .whole-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    }
    .actionBar {
    width: 15%;
    margin-right: 5px;
    }
    .patientBody {
    width: 85%;
    }
    .doctorSearch {
    border: 2px solid #ccc;
    border-radius: 5px;
    align-self: center;
    }
    .btn.btn-custom-lg {
    border-radius: 0;
    display:block;
    float:left;
    }
    .glyphicon {
      height:30px;
      width:30px;
    }
    .btn2 {
      background-color:#F0F0F0;
    }
.whole-container
    aside.actionBar
        section
            .left(style='background-color: white; border: 15px; padding: 7px; border-radius: 10px; margin-bottom: 3px;')
                header(style='text-align: center; margin-bottom: 5px')  Action Area
                div(style='text-align: center; margin-bottom: 3px;')
                    img(src='/images/textures/me.jpg', style='width:100px;height:90px;float: middle;')
                div(style='margin-bottom: 0px')
                    .patientInfoBox("*ngIf"='selected', style='width: 110%; font-size: 90%')
                        .identifier("*ngFor"='let id of selected.identifier')
                            div(style='width: 110%;')
                                | Date of Birth: {{selected.birthDate | amDateFormat:'MM/DD/YYYY'}} ({{-1 * (selected.birthDate | amDifference:today:'years':false)}}yr)
                            div Gender: {{selected.gender}}
                            div MRN: {{id['value']}}
        section
            .left(style='background-color: white; border: 15px; padding: 7px; border-radius: 10px;')
                div(style='text-align: center; margin-top: 0px;')
                    label  Search
                    input.doctorSearch(style='margin-bottom: 5px; border-radius: 2px; width: 80%;')
                    select.form-control(style='margin-bottom: 15px;')
                        option  Search Options
                        option  Could be patients?
                        option  Or something like past images on this patient?
                div(style='margin-bottom: 15px; text-align: center;')
                    label  Order Lab Test
                    select.form-control(style='margin-bottom: 5px;')
                        option  Different types of labs
                        option  Different types of labs
                        option  Different types of labs
                    label  Order Medication
                    select.form-control(style='margin-bottom: 5px;')
                        option  Order Medication
                    label  Schedule Follow-Up
                    select.form-control(style='margin-bottom: 5px;')
                        option  Schedule Follow-Up
                    label  Refer to Specialist
                    select.form-control(style='margin-bottom: 5px;')
                        option  Refer to Specialist
                    label  Order Procedure
                    select.form-control(style='margin-bottom: 5px;')
                        option  Order Procedure
                
    .patientBody
        aside#sidebar.div("*ngIf"='selected')
            section
                .flex-container
                      div(style="flex:1;margin-top:20px")
                        img(src='/images/textures/me.jpg', style='width:100px;height:90px')
                      div(style='margin-bottom: 0px;flex:1;margin-top:20px')
                          .patientInfoBox("*ngIf"='selected', style='width: 110%; font-size: 90%')
                              .identifier("*ngFor"='let id of selected.identifier')
                                  div {{selected.name[0].given[0]}} {{selected.name[0].family[0]}}
                                  div(style="text-transform: capitalize") {{selected.gender}}, {{-1 * (selected.birthDate | amDifference:today:'years':false)}} yrs ({{selected.birthDate | amDateFormat:'MM/DD/YYYY'}})
                      div("*ngIf"="!nav2", style="max-width:220px;flex:1;margin-top:10px;position:relative;", [@fadeIn]="'in'")
                        button.btn.btn-default.btn-lg.btn-custom-lg
                          span(class="glyphicon glyphicon-earphone")
                        button.btn.btn-default.btn-lg.btn-custom-lg((click)='switchNav()')
                          span(class="glyphicon glyphicon-home")
                        button.btn.btn-default.btn-lg.btn-custom-lg
                          span(class="glyphicon glyphicon-search")
                        button.btn.btn-default.btn-lg.btn-custom-lg
                          span(class="glyphicon glyphicon-star")
                        button.btn.btn-default.btn-lg.btn-custom-lg(routerLink='/account', routerLinkActive='active')
                          span(class="glyphicon glyphicon-cog")
                        button.btn.btn-default.btn-lg.btn-custom-lg
                          span(class="glyphicon glyphicon-signal")
                        button.btn.btn-default.btn-lg.btn-custom-lg
                          span(class="glyphicon glyphicon-link")
                        button.btn.btn-default.btn-lg.btn-custom-lg
                          span(class="glyphicon glyphicon-stats")
                        button.btn.btn-default.btn-lg.btn-custom-lg  
                          span(class="glyphicon glyphicon-info-sign")
                      
                      div("*ngIf"="nav2", style="max-width:220px;flex:1;margin-top:10px;;", [@fadeIn]="'in'")
                        button.btn.btn-default.btn-lg.btn-custom-lg.btn2
                          span(class="glyphicon glyphicon-arrow-left")
                        button.btn.btn-default.btn-lg.btn-custom-lg((click)='switchNav()')
                          span(class="glyphicon glyphicon-home")
                        button.btn.btn-default.btn-lg.btn-custom-lg.btn2
                          span(class="glyphicon glyphicon-arrow-right")
                        button.btn.btn-default.btn-lg.btn-custom-lg.btn2
                          span(class="glyphicon glyphicon-repeat") 
                        button.btn.btn-default.btn-lg.btn-custom-lg.btn2
                          span(class="glyphicon glyphicon-bookmark")
                        button.btn.btn-default.btn-lg.btn-custom-lg.btn2
                          span(class="glyphicon glyphicon-hourglass") 
                        button.btn.btn-default.btn-lg.btn-custom-lg.btn2
                          span(class="glyphicon glyphicon-flash")
                        button.btn.btn-default.btn-lg.btn-custom-lg.btn2
                          span(class="glyphicon glyphicon-list-alt") 
                        button.btn.btn-default.btn-lg.btn-custom-lg.btn2
                          span(class="glyphicon glyphicon-stats")

                .encounterBar
                timelines([patient]='selected')
                  
                //div
                    chartTimelines
                div(style="padding: 15px;")
                    h2(style = "display : inline;")
                        | Historical Trend  
                    span.btn-group
                        button.btn.btn-default(data-toggle='collapse', data-target='#toggle') Toggle
                #toggle.collapse.in                   
                    chartTimelines
                table(align='center', style='column-gap: 10px; overflow: scroll; height: 1000px')
                    colgroup
                        col(style='width:25%')
                        col(style='width:40%')
                        col(style='width:25%')
                    th(style='overflow-y: scroll')
                        conditions([patient]='selected', (conditionSelected)='obs.updateHighlighted($event)')
                    th(style='overflow-y: scroll')
                        observations([patient]='selected', #obs='')
                    th(style='overflow-y: scroll')
                        activities([patient]='selected')

//div
    chartTimelines
=======
div([ngGrid]="gridConfiguration")
	//- div#first([(ngGridItem)]="gridItemConfiguration")
	.widget#patient_card([(ngGridItem)]="gridItemConfiguration")
		.handle Widget
			.box-header-btns.pull-right
				a(title="Remove widget")
					//- , (click)="removeWidget(i);")
					i.glyphicon.glyphicon-trash
		.content
			.details.pull-right("*ngIf"='selected')
				form#patient_selector
					.form-group
						select#patient_select.form-control((change)='select($event.target.value)')
							option("*ngFor"='let p of patients', "[value]"='p.id', [selected]='patient && (p.id == patient.id)')
								span("*ngIf"='p.name && p.name[0].family') {{p.name[0].family[0]}},&nbsp; <!-- added comma and space to order list by last name -->
								span("*ngIf"='p.name && p.name[0].given') {{p.name[0].given[0]}}
				.identifier("*ngFor"='let id of selected.identifier')
					b
						span("*ngIf"='selected.name && selected.name[0].given') {{selected.name[0].given[0]}}
						| &nbsp;
						span("*ngIf"='selected.name && selected.name[0].family') {{selected.name[0].family[0]}}
					div
						| Born: {{selected.birthDate | amDateFormat:'MM/DD/YYYY'}} ({{-1 * (selected.birthDate | amDifference:today:'years':false)}}yr)
					div Gender: {{selected.gender}}
					div MRN: {{id['value']}}
			img(src='/images/textures/me.jpg')

			#advanced_search
				a("(click)"="advancedSearch = !advancedSearch" href="#")
					span("*ngIf"="advancedSearch") basic
					span("*ngIf"="!advancedSearch") advanced
				form.form("*ngIf"="advancedSearch")
					.form-group
						label  Search
						input.form-control(type="search")
						select.form-control
							option  Search Options
							option  Could be patients?
							option  Or something like past images on this patient?
					.form-group
						label  Order Lab Test
						select.form-control
							option  Different types of labs
							option  Different types of labs
							option  Different types of labs
					.form-group
						label  Order Medication
						select.form-control
							option  Order Medication
					.form-group
						label  Schedule Follow-Up
						select.form-control
							option  Schedule Follow-Up
					.form-group
						label  Refer to Specialist
						select.form-control
							option  Refer to Specialist
					.form-group
						label  Order Procedure
						select.form-control
							option  Order Procedure
					.form-group
						label
							span.glyphicon.glyphicon-fire
							|  Provider
						select#server_select.form-control((change)='selectServerForUrl($event.target.value)')
							option("*ngFor"='let s of servers', "[value]"='s.url', [selected]='server && (s.url == server.url)') {{s.name}}

	//- toolbar#toolbar
	div#second([(ngGridItem)]="gridItemConfiguration") | TOOL
	//- div("*ngIf"='patients')
	//- timelines([patient]='selected', [(ngGridItem)]="gridItemConfiguration")
	//- chart([(ngGridItem)]="gridItemConfiguration")
	//- conditions([patient]='selected', (conditionSelected)='obs.updateHighlighted($event)', [(ngGridItem)]="gridItemConfiguration", "*ngIf"='selected')
	//- observations([patient]='selected', #obs='', [(ngGridItem)]="gridItemConfiguration", "*ngIf"='selected')
	//- activities([patient]='selected', [(ngGridItem)]="gridItemConfiguration", "*ngIf"='selected')
>>>>>>> origin/layout-refactoring
