div.timeline
	.horizTimeLine("*ngIf"='patient')
		.div(style="width:100%; height:12px; background-color:#EEEAEA;")
			.node((mouseenter)='popup.open(timeline[9], timeline[6], null)', (mouseleave)='popup.close()', style="margin-left:7%")
			.node((mouseenter)='popup.open(timeline[4], null, null)', (mouseleave)='popup.close()', style="margin-left:7%")
			.node((mouseenter)='popup.open(timeline[5], null, null)', (mouseleave)='popup.close()', style="margin-left:7%")
			.node((mouseenter)='popup.open(timeline[1], timeline[1], null)', (mouseleave)='popup.close()', style="margin-left:7%")
			.node((mouseenter)='popup.open(timeline[3], timeline[7], null)', (mouseleave)='popup.close()', style="margin-left:7%")
			.node((mouseenter)='popup.open(timeline[8], null, null)', (mouseleave)='popup.close()', style="margin-left:7%")
	.displayBox(id='c1', hidden=true)
	.displayBox(id='c2', hidden=true)
	.displayBox(id='c3', hidden=true)

timeline-popup(#popup='')