div.timeline
	.horizTimeLine("*ngIf"='patient')
		.div(style="width:100%; height:12px; background-color:#EEEAEA;")
			.div(style="float:left; width:95%")
				.node((mouseenter)='popup.open(timeline[9], timeline[6], null)', (mouseleave)='popup.close()', style="margin-left:14%")
				.node((mouseenter)='popup.open(timeline[4], null, null)', (mouseleave)='popup.close()', style="margin-left:38%")
				.node((mouseenter)='popup.open(timeline[5], null, null)', (mouseleave)='popup.close()', style="margin-left:6%")
				.node((mouseenter)='popup.open(timeline[1], timeline[1], null)', (mouseleave)='popup.close()', style="margin-left:6%")
				.node((mouseenter)='popup.open(timeline[3], timeline[7], null)', (mouseleave)='popup.close()', style="margin-left:14%")
				.node((mouseenter)='popup.open(timeline[8], null, null)', (mouseleave)='popup.close()')
	.displayBox(id='c1', hidden=true)
	.displayBox(id='c2', hidden=true)
	.displayBox(id='c3', hidden=true)

timeline-popup(#popup='')